body {text-align: center;}

@media all and (max-width: 489px) {
    .letter {
        border-radius: 5px;
        width: 50px;
        height: 50px;
        font-size: 30px;
        font-weight: bold;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .note {
        font-size: 12px;
    }

    .guess {
        font-size: 18px;
    }

    .btn-large {margin-left: 200px;}
}

@media all and (min-width: 490px) {
    .letter {
        border-radius: 5px;
        width: 75px;
        height: 75px;
        font-size: 50px;
        font-weight: bold;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .guess { font-size: 22px; }

    .btn-large { margin-left: 275px; }
}

.title {
    font-weight: bold;
    color: #1b6ec2;
}

.good-letter {
    background-color: #6AAA64;
}

.valid-letter {
    background-color: #C9B458;
}

.bad-letter {
    background-color: #787C7E;
}

.neutral-letter {
    background-color: #FFFFFF;
}

.focus {width: 1px; height:2px; border-color: transparent; background-color: transparent;}

.word {display: block; font-size: 18px; font-weight: bold;}

.btn-large {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    letter-spacing: 2px;
    background-color: #1b6ec2;
    font-family: Arial, Helvetica, sans-serif;
}